# Build objects
build/
.vs/
nob
nob.old
*.o
*.obj
*.exe*
*.json
*.pdb

# Big files, see the main sources.md for where to get some
test_files

# Debug information
gdb.txt

# Profiling data
profiling/

# Tex build
*.aux
*.log
*.out
